body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/dynamic-style.png");
    background-repeat: repeat;
  }
  h1, h2, h3, h4, p, a {
  color: brown;
  font-family: Tahoma;
  }
  p, a, li {
  font-size: 15px;
  color: brown;
  font-family: Tahoma;
  }
  table {
  font-size: 15px;
  color: brown;
  font-family: Tahoma;
  border: 3px solid brown;
  }
  th, td {
  text-align: left;
  font-size: 13px;
  font-family: Tahoma;
  border: 1px solid brown;
  }
  /* A link that has not been visited */
  a:link {
  color: red;
  }
  /* A link that has been visited */
  a:visited {
  color: red;
  }
  /* A link that is hovered on */
  a:hover {
  color: green;
  }
  /* A link that is selected */
  a:active {
  color: green;